html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

button {
  cursor: pointer;
  padding: 0;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #262C27;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

/* Header start=========================*/
.header {
  background-image: url(../images/bg_header.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  position: relative;
}
.header::before {
  content: "";
  background-image: url(../images/decor.svg);
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  height: 456px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transform: translateY(50%);
  z-index: 2;
}
.header::after {
  content: "";
  background-image: url(../images/decor.svg);
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  height: 456px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transform: translateY(85%) rotate(180deg);
  z-index: 3;
}
.header__top {
  padding: 50px 0 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 100px;
}
.header__btn {
  padding: 12px 71px;
  text-transform: uppercase;
  font-family: "Comfortaa", cursive;
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  background-color: #262C27;
  color: #FFFFFF;
  transition: 0.3s ease;
}
.header__btn:hover {
  color: #262C27;
  background-color: #B9C400;
}
.header__phone {
  font-family: "Comfortaa", cursive;
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
}
.header__content {
  min-height: calc(100vh - 96px);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
.header__content-box {
  max-width: 550px;
  margin-right: 40px;
  text-align: center;
  color: #FFFFFF;
  font-family: "Comfortaa", cursive;
  font-weight: 700;
}
.header__title {
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 64px;
  line-height: 71px;
}
.header__text {
  font-size: 24px;
  line-height: 27px;
  margin-bottom: 20px;
}
.header__decor-text {
  position: absolute;
  bottom: 0px;
  color: #0093A1;
}
.header__decor-text--one {
  z-index: 1;
  font-size: 130px;
  line-height: 145px;
  opacity: 0.3;
  font-family: "Comfortaa", cursive;
  right: 145px;
  bottom: 90px;
}
.header__decor-text--two {
  z-index: 4;
  font-size: 130px;
  line-height: 145px;
  opacity: 0.3;
  font-family: "Comfortaa", cursive;
  left: 265px;
  bottom: -18px;
}
.header__decor-text--three {
  max-width: 360px;
  right: 145px;
  font-weight: 300;
  font-size: 32px;
  line-height: 39px;
  font-style: italic;
  z-index: 4;
  text-align: center;
  bottom: 5px;
}

.logo path {
  transition: fill 0.3s ease;
}

.logo:hover path {
  fill: #0093A1;
  transition: fill 0.3s ease;
}

/* Header end=========================*/