@import "vars";

html {
    box-sizing: border-box;
}

*,*::after,*::before{
    box-sizing: inherit;
}
 h1,h2,h3,h4,h5,h6 {
    margin: 0;
 }
 ul {
    margin: 0;
    padding: 0;
    list-style: none;
 }
 p {
    margin: 0;
 }
 button {
    cursor: pointer;
    padding: 0;
    border: none;
 }
 a {
    text-decoration: none;
    color: inherit;
 }

body {
font-family: 'Inter', sans-serif;
font-weight: 400;
font-size: 18px;
line-height: 22px;
color: $textColor;
}

.container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

/* Header start=========================*/

.header {
    background-image: url(../images/bg_header.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    position: relative;
    margin-bottom: 80px;

    &::before {
        content: "";
        background-image: url(../images/decor.svg);
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        height: 456px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position:center;
        transform: translateY(50%);
        z-index: 2;

    }
    &::after {
        content: "";
        background-image: url(../images/decor.svg);
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        height: 456px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position:center;
        transform: translateY(85%) rotate(180deg);
        z-index: 3;

    }

    &__top {
    padding: 50px 0 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 100px;


    }

    &__btn {
        padding: 12px 71px;
        text-transform: uppercase;
        font-family: 'Comfortaa', cursive;
        font-weight: 700;
        font-size: 20px;
        line-height: 22px;
        background-color: $textColor;
        color: #FFFFFF;
        transition: 0.3s ease;
        &:hover {
            color: $textColor;
            background-color: $active;

        }
    }

    &__phone {
        font-family: 'Comfortaa', cursive;
        font-weight: 700;
        font-size: 20px;
        line-height: 22px;
    }
    &__content {
        min-height: calc(100vh - 96px);
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: relative;

    }

    &__content-box {
        max-width: 550px;
        margin-right: 40px;
        text-align: center;
        color: #FFFFFF;
        font-family: 'Comfortaa', cursive;
        font-weight: 700;

    }

    &__title {
        margin-bottom: 30px;
        text-transform: uppercase;
        font-size: 64px;
        line-height: 71px;
    }

    &__text {
        font-size: 24px;
        line-height: 27px;
        margin-bottom: 20px;
    }

    &__decor-text {
        position: absolute;
        bottom: 0px;
        color: $accent;
    }

    &__decor-text--one {
        z-index: 1;
        font-size: 130px;
        line-height: 145px;
        opacity: 0.3;
        font-family: 'Comfortaa', cursive;
        right: 145px;
        bottom: 90px;

    }
    &__decor-text--two {
        z-index: 4;
        font-size: 130px;
        line-height: 145px;
        opacity: 0.3;
        font-family: 'Comfortaa', cursive;
        left: 265px;
        bottom: -18px;

    }
    &__decor-text--three {
        max-width: 360px;
        right: 145px;
        font-weight: 300;
        font-size: 32px;
        line-height: 39px;
        font-style: italic;
        z-index: 4;
        text-align: center;
        bottom: 5px;
    }

}

.logo path{
    transition: fill 0.3s ease;
}
.logo:hover path {
    fill: $accent;
    transition: fill 0.3s ease;
}

/* Header end=========================*/

/* Info start=========================*/

.main {
}
.info {
    background-image: url(../images/info-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    &::before{
        content: "";
        position: absolute;
        height: 180px;
        background-color: $textColor;
        top: 0;
        left: 0;
        right: 0;
        transform: translateY(-120px);
        z-index: 1;


    }

		&__inner {
            color: #FFFFFF;
		}

		&__top {
            display: flex;
            gap: 80px;
            padding-top: 140px;
            margin-bottom: 70vh;

		}

		&__top-text {
            padding-top: 245px;
            width: 290px;
            position: relative;
		}

		&__btn {
            position: absolute;
            bottom: 0;
            right: 0;
		}

        &__top-text--two {
            border-bottom: 1px solid #FFFFFF;;

        }

		&__top-img {
            position: relative;
            z-index: 6;
		}

		&__specs {
            display: flex;
            align-items: center;
            gap: 130px;
            padding-bottom: 50px;


		}

		&__specs-title {
            text-transform: uppercase;
            font-family: 'Comfortaa';
            font-style: normal;
            font-weight: 400;
            font-size: 60px;
            line-height: 67px;
            width: 250px;

		}

		&__specs-list {
            border-top: 1px solid #fff;
            border-bottom: 1px solid #fff ;
            font-weight: 700;
            padding: 30px 0;
            width: 565px;
		}

		&__specs-item {
            display: flex;
            text-align: start;
            gap: 25px;
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
		}


		&__specs-caption {
            width: 185px;
		}

		&__specs-text {
		}
}

.popup-btn {
    text-align: center;
    border: none;
    background-color: transparent;

    & span {
        color: #FFFFFF;
        display: block;
        padding-top: 12px;

    }
}
/*Info end===========================*/

/*Buy start==========================*/

.buy {
    padding: 150px 0;

    &__inner {
        display: flex;
        align-items: center;
        gap: 90px;
    }

    &__content {
        width: 510px;

    }

    &__title {
        text-transform: uppercase;
        margin-bottom: 50px;
        font-family: 'Comfortaa';
        font-weight: 400;
        font-size: 60px;
        line-height: 67px;
        color: $accent;
    }

    &__list {
        margin-bottom: 25px;
    }

    &__item {
        margin-bottom: 25px;
        width: 285px;
        &:hover .buy__item-title {
            color: $accent;
        }

    }

    &__item-title {
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 5px;
        transition: color .3s;
    }

    &__item-text {
    }

    &__price {
    }

    &__btn {
        font-family: 'Comfortaa';
        text-transform: uppercase;
        font-weight: 700;
        font-size: 40px;
        line-height: 45px;
        background-color: transparent;
        border: 2px solid $accent;
        color: $accent;
        padding: 18px;
        max-width: 484px;
        width: 100%;
    }

    &__img {
    }
}

/*Buy end===============================*/